// Colors variables.

$primary-color: #4D4D4D;
$primary-color-light: #636363;
$primary-color-strong: #313131;

$secondary-color: #F9F9F9;
$secondary-color-strong: #F1F1F1;

$white: #FFFFFF;
$black: #000000;

$bg-purple: #c9a0ff;
$bg-purple-strong: #bf94fb;
$bg-purple-light: #d1b0ff;

$grey-color: #9f9f9f;
$red-warning: #ff6060;

