// Colors variables.

$primary-color: #4D4D4D;
$primary-color-light: #636363;
$primary-color-strong: #313131;
$secondary-color: #F9F9F9;
$secondary-color-strong: #F1F1F1;
$white: #FFFFFF;
$black: #000000;
