@use 'src/assets/style/colors';
@use 'src/assets/style/fonts';
@use 'src/assets/style/layouts';
@use 'src/assets/style/shadows';

:host {
  @extend %flex-center;

  flex-direction: column;
}

.title {
  color: colors.$primary-color;
  margin-bottom: 92px;
}

.skills-wrapper {
  display: grid;
  gap: 128px;
  grid-template-columns: repeat(3, 1fr);
}

app-skill-card {
  position: relative;
  bottom: 0px;
  transition: 0.15s bottom ease;

  &:hover {
    bottom: 6px;
  }
}

@media only screen and (max-width: 998px) {
  .title {
    margin-bottom: 72px;
  }

  .skills-wrapper {
    gap: 72px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 500px) {
  .title {
    margin-bottom: 42px;
  }

  .skills-wrapper {
    gap: 42px;
    grid-template-columns: repeat(1, 1fr);
  }
}
