<img src="assets/images/ben-image.png" />
<div class="about-wrapper">
  <span class="title sm">About</span>
  <div class="paragraph">
    <span class="description"> I am a creative Front End developer that works for Spectory Ltd. </span>
    <span class="description">
      I have a Bachelor of Science degree in Applied Mathematics from Holon Institute of Technology (HIT), which I made during high school.
    </span>
  </div>

  <div class="paragraph">
    <span class="description"> I am passionate about creating amazing user interfaces using the most recent technologies. </span>
    <span class="description"> I am a team player with excellent interpersonal skills. </span>
  </div>

  <div class="paragraph">
    <span class="description"> I have a can do attitude, believe in hard work and love challenges. </span>
  </div>
</div>
