<span class="title md">Contact</span>
<form [formGroup]="form">
  <app-text-field
    formControlName="name"
    label="Name"
    placeholder="Enter your name.."
    [errorMessage]="errorMessages?.name"
  ></app-text-field>
  <app-text-field
    formControlName="email"
    label="Email"
    placeholder="Enter your email.."
    [errorMessage]="errorMessages?.email"
  ></app-text-field>
  <app-text-field
    formControlName="message"
    isTextarea="true"
    label="Message"
    placeholder="Write a message.."
    [errorMessage]="errorMessages?.email"
  ></app-text-field>
</form>
<button class="button secondary lg" type="submit" (click)="onSubmit()">Submit</button>
