<span class="title md">Contact</span>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <app-text-field
    ngDefaultControl
    formControlName="name"
    label="Name"
    placeholder="Enter your name.."
    [value]="formControls.name.value"
    [errorMessage]="errorMessages?.name"
  ></app-text-field>
  <app-text-field
    ngDefaultControl
    formControlName="email"
    label="Email"
    placeholder="Enter your email.."
    [value]="formControls.email.value"
    [errorMessage]="errorMessages?.email"
  ></app-text-field>
  <app-text-field
    ngDefaultControl
    formControlName="message"
    isTextarea="true"
    label="Message"
    placeholder="Write a message.."
    [value]="formControls.message.value"
    [errorMessage]="errorMessages?.message"
  ></app-text-field>
  <button class="button secondary lg" type="submit">Submit</button>
</form>

<app-snackbar [snackbarLabel$]="snackbarLabelSubject$"></app-snackbar>
