<div class="circle-wrapper">
  <div class="border"></div>
  <div class="circle"></div>
  <div class="border"></div>
</div>
<div class="card-wrapper">
  <div class="job-wrapper">
    <a *ngIf="companyLogoUrl" [href]="companyUrl" target="blank">
      <img [src]="companyLogoUrl" />
    </a>
    <div class="company-name-wrapper">
      <span class="company-name">{{ companyName }}</span>
      <span *ngIf="jobTitle" class="seperator">/</span>
      <span *ngIf="jobTitle" class="job-title">{{ jobTitle }}</span>
    </div>
  </div>
  <span class="date">{{ date }}</span>
  <ul>
    <li *ngFor="let item of contentItems" [innerHTML]="item"></li>
  </ul>
</div>
