@use 'src/assets/style/colors';
@use 'src/assets/style/fonts';
@use 'src/assets/style/layouts';
@use 'src/assets/style/shadows';

:host {
  @extend %flex-center;

  flex-direction: column;
}

app-about,
app-experience,
app-skills {
  box-sizing: border-box;
  padding: 110px 42px;
  width: 100%;
}
