@use 'src/assets/style/colors';
@use 'src/assets/style/fonts';
@use 'src/assets/style/layouts';
@use 'src/assets/style/shadows';

:host {
  @extend %flex-center;

  flex-direction: column;
}

* {
  box-sizing: border-box;
  width: 100%;
}

app-about,
app-experience,
app-skills,
app-contact {
  padding: 110px;
}

@media only screen and (max-width: 998px) {
  app-about,
  app-experience,
  app-skills,
  app-contact {
    padding: 110px 64px;
  }
}

@media only screen and (max-width: 760px) {
  app-about,
  app-experience,
  app-skills,
  app-contact {
    padding: 92px 42px;
  }
}

@media only screen and (max-width: 600px) {
  app-about,
  app-experience,
  app-skills,
  app-contact {
    padding: 72px 24px;
  }
}
