@use 'src/assets/style/colors';
@use 'src/assets/style/fonts';
@use 'src/assets/style/layouts';
@use 'src/assets/style/shadows';

:host {
  @extend %flex-center;

  flex-direction: column;
}

div {
  width: 100%;
}

app-about,
app-experience,
app-skills,
app-contact {
  box-sizing: border-box;
  padding: 110px;
}
