@use 'src/assets/style/colors';
@use 'src/assets/style/fonts';
@use 'src/assets/style/layouts';
@use 'src/assets/style/variables';
@use 'src/assets/style/z-indexes';

body {
  margin: 0;
}

.title {
  color: colors.$white;
  font-family: fonts.$font-rubik;
  font-weight: 500;

  &.lg {
    font-size: 54px;
  }

  &.md {
    font-size: 36px;
  }
}

.button {
  @extend %flex-center;

  border: 1px solid transparent;
  cursor: pointer;
  font-family: fonts.$font-montserrat;
  font-weight: 500;
  min-width: 48px;
  outline: none;
  text-align: center;
  user-select: none;
  white-space: nowrap;

  &.primary {
    background-color: colors.$primary-color;
    border: 2px solid colors.$secondary-color;
    color: colors.$secondary-color;
  }

  &.lg {
    border-radius: 14px;
    font-size: 15px;
    height: 42px;
    line-height: 24px;
    padding: 0px 20px;
  }

  &:hover,
  &:focus {
    background-color: colors.$primary-color-strong;
  }

  &:active {
    background-color: colors.$black;
  }
}
