@use 'src/assets/style/colors';
@use 'src/assets/style/fonts';
@use 'src/assets/style/layouts';
@use 'src/assets/style/variables';
@use 'src/assets/style/z-indexes';

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.title {
  font-family: fonts.$font-rubik;
  font-weight: 500;

  &.lg {
    font-size: 54px;
  }

  &.md {
    font-size: 44px;
  }

  &.sm {
    font-size: 36px;
  }
}

.button {
  @extend %flex-center;

  border: 1px solid transparent;
  cursor: pointer;
  font-family: fonts.$font-montserrat;
  font-weight: 500;
  min-width: 48px;
  outline: none;
  text-align: center;
  user-select: none;
  white-space: nowrap;
  width: inherit;

  &.primary {
    background-color: colors.$primary-color;
    border: 2px solid colors.$secondary-color;
    color: colors.$secondary-color;

    &:hover,
    &:focus {
      background-color: colors.$primary-color-strong;
    }

    &:active {
      background-color: colors.$black;
    }
  }

  &.secondary {
    background-color: colors.$bg-purple-light;
    color: colors.$primary-color-strong;

    &:hover,
    &:focus {
      background-color: colors.$bg-purple;
    }

    &:active {
      background-color: colors.$bg-purple-strong;
    }
  }

  &.lg {
    border-radius: 14px;
    font-size: 15px;
    height: 42px;
    line-height: 24px;
    padding: 0px 20px;
  }
}

app-experience li{
  a {
    color: colors.$secondary-color-strong;
    opacity: 0.9;

    &:hover {
      opacity: 0.8;
    }

    &:focus {
      opacity: 0.7;
    }
  }

  b {
    font-weight: 500;
  }
}

app-experience-card:first-of-type img {
  background-color: colors.$white;
  border: 1px solid colors.$orange;
  box-sizing: border-box;
  padding: 4px;
}
