@use 'src/assets/style/colors';
@use 'src/assets/style/fonts';
@use 'src/assets/style/layouts';
@use 'src/assets/style/variables';
@use 'src/assets/style/z-indexes';

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.title {
  font-family: fonts.$font-rubik;
  font-weight: 500;

  &.lg {
    font-size: 54px;
  }

  &.md {
    font-size: 44px;
  }

  &.sm {
    font-size: 36px;
  }
}

app-experience li {
  a {
    color: colors.$secondary-color-strong;
    opacity: 0.9;

    &:hover {
      opacity: 0.8;
    }

    &:focus {
      opacity: 0.7;
    }
  }

  b {
    font-weight: 500;
  }
}

app-experience-card:first-of-type img {
  background-color: colors.$white;
  border: 1px solid colors.$orange;
  box-sizing: border-box;
  padding: 4px;
}
